<ion-card>
  <div class="d-flex justify-content-center pt-4">
    <img class="col-md-12" src="../../../assets/icon/correct.png" alt="check_icon" />
  </div>
  <ion-card-header>
    <ion-card-subtitle *ngIf="information.phone">{{information.phone}}</ion-card-subtitle>
    <ion-card-title class="text-black-50">{{information.createdby}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text>
      Your request concerning <strong>{{information.item}}</strong> has been successfully sent.
      We will contact you as soon as possible. We hope that you have entered your real information.
      If you have made a mistake, we kindly ask you to make the request again providing your real information.
    </ion-text>
    <div class="row">
      <ion-button class="mt-4" (click)="navigateToHome()">OK</ion-button>
    </div>
  </ion-card-content>
</ion-card>
