<ion-header translucent>
  <app-back-toolbar [title]="title"></app-back-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="smallScreen && !success">
  <ion-item lines="full">
    <ion-avatar slot="start">
      <img [src]="data.img" alt="item_img">
    </ion-avatar>
    <ion-label>
      <h2>{{data.title}}</h2>
      <p>Cat name</p>
    </ion-label>
  </ion-item>
  <form [formGroup]="form" class="bg-white my-2">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Name*</ion-label>
        <ion-input placeholder="Your Name" type="text" formControlName="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-Mail*</ion-label>
        <ion-input placeholder="Your Email" formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone*</ion-label>
        <ion-input placeholder="{{german}} / {{ukraine}}" type="text" formControlName="phone" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Message*</ion-label>
        <ion-textarea placeholder="Text" formControlName="message" required></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="primary" (click)="createApplication()">
      <ion-icon name="send" slot="end"></ion-icon>
      Send
    </ion-button>
  </form>
  <ion-text class="px-2 py-1" color="danger">
    <small>All fields containing * are required.</small>
  </ion-text>
</ion-content>

<ion-content class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 align-self-md-center" fullscreen
  *ngIf="!smallScreen && !success">
  <div class="row mt-3 mb-5">
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img [src]="data.img" alt="item_img">
      </ion-avatar>
      <ion-label>
        <h2>{{data.title}}</h2>
        <p>Cat name</p>
      </ion-label>
    </ion-item>
    <form [formGroup]="form" class="bg-white my-2">
      <ion-list lines="full">
        <ion-item>
          <ion-label position="floating">Name*</ion-label>
          <ion-input placeholder="Your Name" type="text" formControlName="name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-Mail*</ion-label>
          <ion-input placeholder="Your Email" formControlName="email" type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone*</ion-label>
          <ion-input placeholder="{{german}} / {{ukraine}}" type="text" formControlName="phone" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Message*</ion-label>
          <ion-textarea placeholder="Text" formControlName="message" required></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="primary" (click)="createApplication()">
        <ion-icon name="send" slot="end"></ion-icon>
        Send
      </ion-button>
    </form>
    <ion-text class="px-2 py-1" color="danger">
      <small>All fields containing * are required.</small>
    </ion-text>
  </div>
</ion-content>

<ion-content class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 align-self-md-center" *ngIf="success">
  <app-information class="my-5" [information]="outgoing"></app-information>
</ion-content>
