<ion-toolbar color="primary">
  <ion-buttons slot="start" (click)="toPreviousPage()">
    <ion-icon slot="icon-only" name="arrow-back-outline" class="text-white"></ion-icon>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <!--ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon-->
    </ion-button>
  </ion-buttons>

  <ion-title>{{title}}</ion-title>
</ion-toolbar>
