<ion-header>
  <app-back-toolbar [title]="data.title"></app-back-toolbar>
</ion-header>

<ion-content *ngIf="smallScreen">
  <swiper [autoplay]="false" [pagination]="false" [scrollbar]="false" [zoom]="false">
    <ng-template swiperSlide *ngFor="let img of data.images; let i = index">
      <img src="{{img}}" alt="image">
      <ion-row class="ion-align-self-end pagination">
        <ion-icon name="camera-outline"></ion-icon>
        <small class="my-0">{{i+1}}/{{data.images.length}}</small>
      </ion-row>
    </ng-template>
  </swiper>
  <div class="px-2 py-2 mt-1 bg-white">
    <ion-label>
      <h3>{{data.title}}</h3>
      <p>Mo., 10/06</p>
      </ion-label>
    </div>
  <ion-list class="bg-white mt-1">
    <ion-item>
      <small>Category</small>
      <ion-note slot="end">{{data.title}}</ion-note>
    </ion-item>
    <ion-item>
      <small>Available</small>
      <ion-note slot="end">{{data.status ? 'Yes' : 'No'}}</ion-note>
    </ion-item>
  </ion-list>
  <div class="px-2 py-2 mt-1 bg-white">
    <ion-text>{{data.description}}</ion-text>
  </div>
  <ion-button expand="block" class="mx-1 mt-4 mb-2" (click)="toApplicationPage()">
    <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
    Contact
  </ion-button>
</ion-content>

<ion-content class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 align-self-md-center" *ngIf="!smallScreen">
  <div class="row mt-3">
    <div class="col-md-6">
      <swiper [autoplay]="false" [pagination]="false" [scrollbar]="false" [zoom]="false">
        <ng-template swiperSlide *ngFor="let img of data.images; let i = index">
          <img src="{{img}}" alt="image">
          <ion-row class="ion-align-self-end pagination">
            <ion-icon name="camera-outline"></ion-icon>
            <small class="my-0">{{i+1}}/{{data.images.length}}</small>
          </ion-row>
        </ng-template>
      </swiper>
      <div class="px-2 py-2 mt-1 bg-white">
        <ion-label>
          <h3>{{data.title}}</h3>
          <p>Mo., 10/06</p>
        </ion-label>
      </div>
    </div>
    <div class="col-md-6">
      <ion-list class="bg-white mb-1">
        <ion-item>
          <small>Category</small>
          <ion-note slot="end">{{data.title}}</ion-note>
        </ion-item>
        <ion-item>
          <small>Available</small>
          <ion-note slot="end">{{data.status ? 'Yes' : 'No'}}</ion-note>
        </ion-item>
      </ion-list>
      <div class="px-2 py-2 bg-white">
        <ion-text>{{data.description}}</ion-text>
      </div>
      <ion-button expand="block" class="mx-1 mt-2 mb-2" (click)="toApplicationPage()">
        <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
        Contact
      </ion-button>
    </div>
  </div>
</ion-content>
