:root {
  --padding-start: 1px !important;
}

.swiper {
  height: 30%;
  background-color: #fff;
}

.item-native {
  margin-left: 0 !important;
}

.item-inner {
 padding-bottom: 0 !important;
}

.pagination {
  background-color: rgba(0, 0, 0, .3);
  padding: 0 5px 0 5px;
  color: #fff;
}

.pagination small {
  margin-left: 2px;
}
