<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container vh-100">
    <div class="signin-card" >
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Create Account</h3>
          </div>
          <div class="p-4">
            <form action="">
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-person-circle"></i></span>
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-envelope text-white"></i></span>
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input type="password" class="form-control" placeholder="password">
              </div>
              <div class="d-grid col-12 mx-auto">
                <button class="btn btn-primary" type="button"><span></span> Sign up</button>
              </div>
              <p class="text-center mt-3 text-primary">Already have an account? <br>
                <span class="text-primary">Sign in</span>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
