.breadcumb {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)),
    url("../../../assets/img/usher.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 22vh;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  -moz-transition: all 0.35s ease 0s;
  overflow: hidden;
}

.custom-skeleton ion-skeleton-text {
  line-height: 13px;
  background-color: #f2f2f7;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

.item-list ion-item {
  cursor: pointer;
}
