<ion-header>
  <app-back-toolbar [title]="categoryName"></app-back-toolbar>
</ion-header>

<ion-content class="d-flex flex-md-column col-xs-12 col-sm-12 col-md-6 col-lg-4 align-self-md-center">
  <div class="breadcumb">
    <div class="container">
      <!--Some text can be added here-->
    </div>
  </div>
  <div *ngIf="data">
    <ion-list class="item-list">
      <ion-list-header>
        <ion-label>
          {{categoryName}}
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of data" (click)="navigateToDetails(item.id)">
        <ion-avatar slot="start">
          <img src="{{item.img}}" alt="image">
        </ion-avatar>
        <ion-label>
          <h3>
            {{ item.title }}
          </h3>
          <p>
            {{ item.desc }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!data">
    <ion-list class="custom-skeleton">
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let val of anouncements">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
