<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="news">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>

      <ion-tab-button button>
        <ion-icon name="more" md="ellipsis-horizontal" ios="ellipsis-vertical" id="more"></ion-icon>
        <ion-label>More</ion-label>
        <!--more content-->
        <ion-popover trigger="more" side="top" alignment="start" dismiss-on-select="true" mode="ios">
          <ng-template>
            <ion-content horizontal="center" vertical="top">
              <ion-list>
                <!--ion-list-header>Ionic</ion-list-header-->
                <ion-item button>Learn Ionic</ion-item>
                <ion-item button>Documentation</ion-item>
                <ion-item button>Showcase</ion-item>
                <ion-item button>GitHub Repo</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
