<ion-header>
  <app-back-toolbar [title]="title"></app-back-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="smallScreen">
  <app-categories-list *ngIf="data else loading"></app-categories-list>
</ion-content>

<ion-content fullscreen class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 align-self-md-center"
  *ngIf="!smallScreen">
  <app-categories-list *ngIf="data else loading"></app-categories-list>
</ion-content>

<ng-template #loading>
  <!-- Skeleton screen -->
  <div class="row mt-3 custom-skeleton">
    <div class="bg-white px-4 py-auto">
      <h1>
        <ion-skeleton-text animated></ion-skeleton-text>
      </h1>
    </div>
    <ion-grid class="bg-white">
      <ion-row class="ion-align-items-center">
        <ion-col size="4" sizeSM="4" sizeMd="2" *ngFor="let category of categories">
          <ion-card>
            <ion-card-header class="col-md-12">
              <ion-thumbnail>
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>

