<div class="row mt-3">
  <div class="bg-white px-4 py-auto">
    <h1 class="text-black-50">Categories</h1>
  </div>
  <ion-grid class="bg-white mt-2">
    <ion-row class="ion-align-items-center">
      <ion-col size="4" sizeSM="4" sizeMd="2" *ngFor="let category of categories">
        <ion-card (click)="navigateToItemsList(category.title)" class="bg-gray">
          <ion-card-header class="bg-white">
            <ion-img [src]="category.img" [alt]="category.title"></ion-img>
          </ion-card-header>
          <ion-card-content class="py-2">
            <ion-card-subtitle class="text-center mb-0 pb-0">{{category.title}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
