/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/scss";
@import "~swiper/scss/autoplay";
@import "~swiper/scss/keyboard";
@import "~swiper/scss/pagination";
@import "~swiper/scss/scrollbar";
@import "~swiper/scss/zoom";
@import "~@ionic/angular/css/ionic-swiper";

:root {
  --color-gray: #f2f2f7;
}

.md body {
  --ion-background-color: var(--color-gray) !important;
  --ion-toolbar-background: #fff; /*Bleue: 0033CC, 0033FF*/
  --ion-toolbar-color: #3880ff;
  --ion-tab-bar-background: #FFFFFF;
  --ion-card-background: #fff; /*f2f2f7*/
  --ion-text-color: #222222;
  --ion-border-color: #e3e3e3;
  --ion-item-background: #FFFFFF;
}

ion-toolbar ion-title {
  text-align: center !important;
}

.bg-gray {
  background-color: var(--color-gray);
}

