<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">{{headerTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--welcome image -->
  <swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="false" [zoom]="false">
    <ng-template swiperSlide *ngFor="let img of images">
      <img src="{{img.src}}" alt="{{img.name}}">
    </ng-template>
  </swiper>
  <!--categories-->
  <!--ion-grid>
    <ion-row class="justify-content-center">
      <ion-col size="3">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <ion-label>CAT1</ion-label>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <ion-label>CAT2</ion-label>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <ion-label>CAT3</ion-label>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <ion-label>CAT4</ion-label>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid-->
  <ion-grid class="categories">
    <ion-row class="ion-align-items-center">
      <ion-col size="4" sizeSM="4" sizeMd="2" *ngFor="let category of categories">
        <ion-card (click)="navigateToItemsList(category.title)">
          <ion-card-header>
            <ion-img [src]="category.img" [alt]="category.title"></ion-img>
            <ion-card-subtitle class="text-center mb-0 pb-0">{{category.title}}</ion-card-subtitle>
            <!--ion-card-title>Card Title</ion-card-title--->
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
