ion-slides, .swiper {
  height: 40%;
  border: 1px solid #e3e3e3;
  background-color: #fff;
}

ion-icon {
  color: #1e1e1e;
}

ion-avatar {
  background-color: aqua;
  border-color: aqua;
  width: 50px;
  height: 50px;
}

.categories ion-card {
  cursor: pointer;
}
